* {
    font-family: "JetBrainsMono Nerd Font, monospace, sans-serif";
    font-weight: bold;
    font-size: 16px;
    background: #0F0F0F;
}

window#waybar {
    border-radius: 10px;
    background: #0F0F0F;
    color: #CCCCCC;
}

tooltip {
    background: #0F0F0F;
    border-radius: 6px;
}

tooltip label {
    color: #93B1A6;
}

#workspaces {
    /* border-radius: 10px; */
    margin: 0 0 0 10px;
    background: #0F0F0F;
}

#workspaces button {
    min-width: 20px;
    border-radius: 20px;
    margin: 0 0 5px;
    color: #333333;
}

#workspaces button:not(:last-child) {
    margin-right: 4px;
}

#workspaces button:hover {
    /* background: rgba(255, 255, 255, 0.08); */
}

#workspaces button.active {
    /* background: #CCCCCC; */
    color: #CCC;
}

#workspaces button.active:hover {
}

#clock,
#battery,
#pulseaudio,
#network,
#bluetooth,
#temperature,
#backlight {
    padding: 0px 14px;
    background-color: rgba(255, 255, 255, 0.08);
}

#tray {
    padding: 0px 16px;
}

#network {
    border-radius: 28px 0 0 28px;
    padding-left: 24px;
}

#battery.warning {
    color: orange;
}

#battery.critical {
    color: red;
}

#temperature.critical {
    color: red;
}

#clock {
    padding-right: 16px;
    border-radius: 0 16px 16px 0;
}
