[Desktop Entry]
Comment=WeChat Universal (second account)
TryExec=/usr/lib/wechat-universal/start.sh
Exec=env QT_SCALE_FACTOR=1.25 /usr/lib/wechat-universal/start.sh --multiple second %u
Icon=wechat-universal
Name=WeChat (2nd Account)
Name[zh_CN]=微信 (小号)
Categories=Network;InstantMessaging;Chat;
Terminal=false
Type=Application
Keywords=wechat;weixin;we;w;second;2;
Keywords[zh_CN]=微;微信;wechat;weixin;小号;
StartupWMClass=wechat
